<div class="container">
  <div class="row row-cols-lg-2 g-3 container-fluid">
    <div class="col-md-6 card">
      <div class="card-body p-3 box" style="text-align: justify">
        <img src="assets/jacob.png" alt="Card image cap" width="120" height="120" style="border-radius: 5px; margin-right: 5px; float: left">
        Name: Jacob<br>
        Role: Developer (2024-present)<br>
        Pronouns: he/him<br>
        Toons: Lavender Haze, Midnight Rain<br>
        About me: I started playing Toontown in 2008 and found TTR in 2019 and have been playing off and on since.
        I love to play many types other types of games including League of Legends, Minecraft, Stardew Valley, and many more.
        I'm a big music fan (<a target="_blank" href="https://stats.fm/jaczerob">stats.fm</a>) and also played the saxophone for ~10 years.
        Outside of my Toon activities, I am a Cashbot at a mortgage company. I created this website to help myself learn more about web development
        and also to help out the community. I hope you enjoy the site!
      </div>
    </div>
  </div>
</div>
