<div class="container placeholder-glow">
  <h3 class="text-center align-middle">
    Field Offices
  </h3>
  <div [ngClass]="{ 'placeholder': fieldOffices == null }" class="row gy-3 container-fluid">
    <div *ngFor="let fieldOffice of fieldOfficesMap | keyvalue" class="list-group">
      <div class="card container-fluid">
        <div class="card-body">
          <h5 class="card-title">{{ fieldOffice.key }} <i
            *ngFor="let i of ' '.repeat(fieldOffice.value.difficulty).split('')" aria-hidden="true" class="fa fa-star"
            style="color: gold;"></i></h5>
          <div *ngIf="fieldOffice.value.open; else closing" class="card-text">
            {{ fieldOffice.value.annexes }} annexes left
          </div>
          <ng-template #closing>
            Closing...
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>
