<div class="container">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title text-center align-middle">
                Population ({{ population.totalPopulation }})
            </h5>
            <div class="container">
                <div *ngFor="let district of population.districts" class="row">
                    <div class="col-md-auto">
                        <i [ngStyle]="{ 'color': getColor(district) }" class="fa fa-circle" aria-hidden="true"></i> {{ district.name }}
                    </div>
                    <div class="col text-right">
                        {{ district.population }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>