<div class="container placeholder-glow">
  <h3 class="text-center align-middle">ToonStats</h3>
  <div class="card">
    <div class="card-body">
      <p class="text-left align-left">
        Sample Size: <span [ngClass]="{'placeholder': toonstats == null}"
                           class="col-2">{{ toonstats?.amountToons }}</span><br>
        Toons Above 100 Laff: <span [ngClass]="{'placeholder': toonstats == null}"
                                    class="col-2">{{ toonstats?.amountToonsAbove100Laff }}</span><br>
        Maxed Toons: <span [ngClass]="{'placeholder': toonstats == null}"
                           class="col-2">{{ toonstats?.amountToonsMaxed }}</span><br>
        <small>(Scraped from ToonHQ ToonSync)</small>
      </p>
    </div>
  </div>
  <br>
  <div [ngClass]="{'placeholder': toonstats == null}" class="card container-fluid">
    <div class="card-body text-center align-middle">
      <h5>Species</h5>
    </div>
    <div class="card-body">
      <table *ngIf="toonstats != null" class="table">
        <thead>
        <tr>
          <th scope="col">Species</th>
          <th scope="col">Amount</th>
          <th scope="col">Amount 100+ Laff</th>
          <th scope="col">Amount Maxed</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th scope="row">Cat</th>
          <td>{{ toonstats.amountCats }}</td>
          <td>{{ toonstats.amountCatsAbove100Laff }}</td>
          <td>{{ toonstats.amountCatsMaxed }}</td>
        </tr>
        </tbody>
        <tbody>
        <tr>
          <th scope="row">Dog</th>
          <td>{{ toonstats.amountDogs }}</td>
          <td>{{ toonstats.amountDogsAbove100Laff }}</td>
          <td>{{ toonstats.amountDogsMaxed }}</td>
        </tr>
        </tbody>
        <tbody>
        <tr>
          <th scope="row">Mice</th>
          <td>{{ toonstats.amountMice }}</td>
          <td>{{ toonstats.amountMiceAbove100Laff }}</td>
          <td>{{ toonstats.amountMiceMaxed }}</td>
        </tr>
        </tbody>
        <tbody>
        <tr>
          <th scope="row">Ducks</th>
          <td>{{ toonstats.amountDucks }}</td>
          <td>{{ toonstats.amountDucksAbove100Laff }}</td>
          <td>{{ toonstats.amountDucksMaxed }}</td>
        </tr>
        </tbody>
        <tbody>
        <tr>
          <th scope="row">Deer</th>
          <td>{{ toonstats.amountDeer }}</td>
          <td>{{ toonstats.amountDeerAbove100Laff }}</td>
          <td>{{ toonstats.amountDeerMaxed }}</td>
        </tr>
        </tbody>
        <tbody>
        <tr>
          <th scope="row">Rabbits</th>
          <td>{{ toonstats.amountRabbits }}</td>
          <td>{{ toonstats.amountRabbitsAbove100Laff }}</td>
          <td>{{ toonstats.amountRabbitsMaxed }}</td>
        </tr>
        </tbody>
        <tbody>
        <tr>
          <th scope="row">Bears</th>
          <td>{{ toonstats.amountBears }}</td>
          <td>{{ toonstats.amountBearsAbove100Laff }}</td>
          <td>{{ toonstats.amountBearsMaxed }}</td>
        </tr>
        </tbody>
        <tbody>
        <tr>
          <th scope="row">Monkeys</th>
          <td>{{ toonstats.amountMonkeys }}</td>
          <td>{{ toonstats.amountMonkeysAbove100Laff }}</td>
          <td>{{ toonstats.amountMonkeysMaxed }}</td>
        </tr>
        </tbody>
        <tbody>
        <tr>
          <th scope="row">Crocodiles</th>
          <td>{{ toonstats.amountCrocodiles }}</td>
          <td>{{ toonstats.amountCrocodilesAbove100Laff }}</td>
          <td>{{ toonstats.amountCrocodilesMaxed }}</td>
        </tr>
        </tbody>
        <tbody>
        <tr>
          <th scope="row">Pigs</th>
          <td>{{ toonstats.amountPigs }}</td>
          <td>{{ toonstats.amountPigsAbove100Laff }}</td>
          <td>{{ toonstats.amountPigsMaxed }}</td>
        </tr>
        </tbody>
        <tbody>
        <tr>
          <th scope="row">Horses</th>
          <td>{{ toonstats.amountHorses }}</td>
          <td>{{ toonstats.amountHorsesAbove100Laff }}</td>
          <td>{{ toonstats.amountHorsesMaxed }}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <br>
  <div [ngClass]="{'placeholder': toonstats == null}" class="card container-fluid">
    <div class="card-body text-center align-middle">
      <h5>Gags</h5>
    </div>
    <div class="card-body">
      <table *ngIf="toonstats != null" class="table">
        <thead>
        <tr>
          <th scope="col">Gag</th>
          <th scope="col">Amount</th>
          <th scope="col">Amount 100+ Laff</th>
          <th scope="col">Amount Maxed</th>
          <th scope="col">Amount Organic</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th scope="row">Toon-Up</th>
          <td>{{ toonstats.amountToonsWithToonUp }}</td>
          <td>{{ toonstats.amountToonsWithToonUpAbove100Laff }}</td>
          <td>{{ toonstats.amountToonsWithToonUpMaxed }}</td>
          <td>{{ toonstats.amountOrganicToonUp }}</td>
        </tr>
        </tbody>
        <tbody>
        <tr>
        <tr>
          <th scope="row">Trap</th>
          <td>{{ toonstats.amountToonsWithTrap }}</td>
          <td>{{ toonstats.amountToonsWithTrapAbove100Laff }}</td>
          <td>{{ toonstats.amountToonsWithTrapMaxed }}</td>
          <td>{{ toonstats.amountOrganicTrap }}</td>
        </tr>
        </tbody>
        <tbody>
        <tr>
          <th scope="row">Lure</th>
          <td>{{ toonstats.amountToonsWithLure }}</td>
          <td>{{ toonstats.amountToonsWithLureAbove100Laff }}</td>
          <td>{{ toonstats.amountToonsWithLureMaxed }}</td>
          <td>{{ toonstats.amountOrganicLure }}</td>
        </tr>
        </tbody>
        <tbody>
        <tr>
          <th scope="row">Sound</th>
          <td>{{ toonstats.amountToonsWithSound }}</td>
          <td>{{ toonstats.amountToonsWithSoundAbove100Laff }}</td>
          <td>{{ toonstats.amountToonsWithSoundMaxed }}</td>
          <td>{{ toonstats.amountOrganicSound }}</td>
        </tr>
        </tbody>
        <tbody>
        <tr>
          <th scope="row">Throw</th>
          <td>{{ toonstats.amountToonsWithThrow }}</td>
          <td>{{ toonstats.amountToonsWithThrowAbove100Laff }}</td>
          <td>{{ toonstats.amountToonsWithThrowMaxed }}</td>
          <td>{{ toonstats.amountOrganicThrow }}</td>
        </tr>
        </tbody>
        <tbody>
        <tr>
          <th scope="row">Squirt</th>
          <td>{{ toonstats.amountToonsWithSquirt }}</td>
          <td>{{ toonstats.amountToonsWithSquirtAbove100Laff }}</td>
          <td>{{ toonstats.amountToonsWithSquirtMaxed }}</td>
          <td>{{ toonstats.amountOrganicSquirt }}</td>
        </tr>
        </tbody>
        <tbody>
        <tr>
          <th scope="row">Drop</th>
          <td>{{ toonstats.amountToonsWithDrop }}</td>
          <td>{{ toonstats.amountToonsWithDropAbove100Laff }}</td>
          <td>{{ toonstats.amountToonsWithDropMaxed }}</td>
          <td>{{ toonstats.amountOrganicDrop }}</td>
        </tr>
        </tbody>
      </table>

    </div>
  </div>
  <br>
  <div [ngClass]="{'placeholder': toonstats == null}" class="card container-fluid">
    <div class="card-body text-center align-middle">
      <h5>Cog Suits</h5>
    </div>
    <div class="card-body">
      <table *ngIf="toonstats != null" class="table">
        <thead>
        <tr>
          <th scope="col">Tier 8 Cog Suit</th>
          <th scope="col">Amount</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th scope="row">Sellbot</th>
          <td>{{ toonstats.amountTier8Sellbot }}</td>
        </tr>
        </tbody>
        <tbody>
        <tr>
          <th scope="row">Cashbot</th>
          <td>{{ toonstats.amountTier8Cashbot }}</td>
        </tr>
        </tbody>
        <tbody>
        <tr>
          <th scope="row">Lawbot</th>
          <td>{{ toonstats.amountTier8Lawbot }}</td>
        </tr>
        </tbody>
        <tbody>
        <tr>
          <th scope="row">Bossbot</th>
          <td>{{ toonstats.amountTier8Bossbot }}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
