<div class="container placeholder-glow">
  <div class="card card-fluid">
    <div class="card-body">
      <h3 class="card-title text-center align-middle">Welcome to Eras</h3>
      <p class="card-text">
        Eras is a fan-made website to display current information about Toontown Rewritten. This website is not affiliated with Toontown Rewritten or The Walt Disney Company. This website is for educational purposes only.<br><br>
        This website is still in initial development. If you have any suggestions or feedback, please feel free to reach out through Github issues.<br><br>
        Currently, the website is best viewed on mobile devices.
      </p>
    </div>
  </div>
</div>
