<div class="container">
  <div class="card border-0">
    <h5 *ngIf="status.open;else not_open" class="card-title text-center align-middle">
      Toontown is open!
    </h5>
    <ng-template #not_open>
      <h5 class="card-title text-center align-middle">
        Toontown is closed!
      </h5>
    </ng-template>
  </div>
  <br>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title text-center align-middle">
        Release {{ releaseNotes.slug }} - {{ releaseNotes.date }}
      </h5>
      <div *ngFor="let note of formattedReleaseNotes | keyvalue" class="list-group">
        <div class="list-group-item flex-column align-items-start border-0">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{note.key}}</h5>
          </div>
          <p [innerHTML]="note.value" class="mb-1"></p>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="card">
      <div class="card-body">
          <h5 class="card-title text-center align-middle">
              {{ news.title }}
          </h5>
          <div [innerHTML]="news.body"></div>
      </div>
  </div>
</div>
