<div class="container">
  <h3 class="text-center align-middle">
    Total Toons: {{ districts.totalPopulation }}
  </h3>
  <div class="row gy-3">
    <div *ngFor="let district of districts.districts">
        <div class="col card">
          <div class="card-body">
            <h5 class="card-title"><i [ngStyle]="{ 'color': getColor(district) }" class="fa fa-circle" aria-hidden="true"></i> {{ district.name }}</h5>
            <span class="card-text">Population: {{ district.population }}</span>
            <div *ngIf="district.invasion != null" class="card-text">
              <span>Invasion: {{ district.invasion.cog.replace('', '') }}</span><br>
              <span>Progress: {{ district.invasion.cogsDefeated }}/{{ district.invasion.totalCogs }}</span>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
