<div class="container">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title text-center align-middle">
                Total Toons: {{ districts.totalPopulation }}
            </h5>
            <div class="container">
                <div *ngFor="let district of districts.districts">
                    <div class="row" style="width: 100%;">
                        <div class="col">
                            <i [ngStyle]="{ 'color': getColor(district) }" class="fa fa-circle" aria-hidden="true"></i> {{ district.name }}
                        </div>

                        <div class="col">
                            {{ district.population }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>